<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>SPB - Smart Public Box</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"></link>
</head>
<body>
	<div th:insert="locationHeader"></div>
	<div th:insert="boxHeader"></div>
	
	<form method="post" th:action="'/SPB/locations/'+${location.id}+'/boxes/'+${box.id}+'/' +${box.status.name() == 'FREE' ? 'book' : 'unlock'}">
		<div class="form-group">
			<div class="cols-sm-10">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-user fa"
						aria-hidden="true"></i></span> <input type="text" class="form-control"
						name="code" id="code" placeholder="Enter the Code" />
				</div>
			</div>
		</div>

		<div class="form-group" th:switch="${box.status.name()}">
			<input th:case="BOOKED" type="submit" class="form-control" name="Buchen" id="confirm" value="Unlock"/>
			<input th:case="FREE" type="submit" class="form-control" name="Buchen" id="confirm" value="Book"/>
		</div>
	</form>

</body>
</html>