<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SPB - Smart Public Boxes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"></link>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item active" aria-current="page">Locations</li>
	  </ol>
	</nav>
   <table class="table table-hover">
    <tr>
    	<th>Name</th>
    	<th>Free (Total)</th>
    </tr>
     <tr th:each="location: ${locations}">
      <td><a th:href="'/SPB/locations/'+${location.id}" th:text="${location.name}"></a></td>
      <td th:text="${location.freeBoxes}+' ('+${location.boxes.size()} + ')'"></td>
    </tr>
    </table>
</body>
</html>