<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>SPB - Smart Public Boxes</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"></link>
</head>
<body>
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item active" aria-current="page">Login</li>
		</ol>
	</nav>
<body>
	<div th:if="${param.error}">Invalid username and password.</div>
	<div th:if="${param.logout}">You have been logged out.</div>

	<form th:action="@{/login}" method="post">
		<div class="form-group">
			<input type="text" class="form-control" name="username" id="username"
				placeholder="Username" />
		</div>

		<div class="form-group">
			<div class="input-group">
				<input type="password" class="form-control" name="password"
					id="password" placeholder="Password" />
			</div>
		</div>

		<div class="form-group">
			<input type="submit" class="form-control" id="confirm" value="Login" />

		</div>
	</form>
</body>
</html>